<% if User.current.allowed_to?(:view_private_notes, @project) %>
	<script type="text/javascript">
		JOURNAL_DISABLE = "<%= l(:title_disable) %>";
		JOURNAL_ENABLE = "<%= l(:title_enable) %>";
	</script>
	
	<span class="hidden_journal_view">
		<% if journal.private_notes? %>
			<%= link_to "", {:controller => "hide", :action => "index", :journal => journal.id}, :class => "visible", :title => l(:title_enable) %>
		<% else %>
			<%= link_to "", {:controller => "hide", :action => "index", :journal => journal.id}, :class => "invisible", :title => l(:title_disable) %>
		<% end %>
	</span>
<% end %>