.hidden_journal_view {
    float: right;
    margin-left: 5px;
    margin-top: 0;
    text-align: right;
	margin-right: -9px;
	width: 18px;
	height: 20px;
}

.hidden_journal_view a {
	position: relative;
	top: 0;
	right: 0;
	display: inline-block;
	width: 18px;
	height: 19px;
}

.hidden_journal_view .visible {
    background: url('../images/light_off.png') right top no-repeat;	
}

.hidden_journal_view .invisible {
    background: url('../images/light_on.png') right top no-repeat;
}

.tabular p#hidden_journal_view label {
	width: 40%;
}


.private_hide {
	background: #ff0000;
	display: inline;
	padding: 3px 5px 2px 2px;
	border-radius: 2px;
    text-transform: uppercase;
    color: #ffffff;
}


.private_hide input {
	padding: 0 !important;
    vertical-align: middle;
    margin-top: -2px;
}
